/*
 * Authors		: Parth Lukhi
 * Date created : 17/08/2017 
 * Purpose      : Stlyle sheet used for Dashbaord View
 * Dependencies :  NA
 * -------------------------------------------------
 *Modifications:
                Date:  
                Purpose of modification:  
                Method/Code segment modified: 

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.THIS .availableTab{
    width:98%;
    height:128px;
    display:inline-block;
    background-color:#fff;
    border-radius:8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    
}
.THIS .caseContainer {
    width:100%;
    height:65%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.THIS .casesNumber {
    width: 40%;
    font-size: 30px;
    float: right;
    padding: 5% 5% 0% 2%;
    display: inline-block;
    color:#fff;
    text-align: center;
}

.THIS .caseStatus {
    width: 50%;
    font-size: 20px;
    padding: 5% 0% 0% 5%;
    display: inline-block;
}
.THIS .caseText {
    font-size: 14px;
    float: right;
    width: 100%;
    text-align:center;
    padding-left: 57%;
    padding-top: -21px;
    padding-bottom: -29px;
    position: relative;
    bottom: 9px;
    color:#fff;
}
.THIS .leftCase{
    width:50%;
    float:left;
    display:inline-block;
    color:#5e6468;
    text-align:center;
    padding: 1.5% 0% 1% 0%;
    border-right:1px solid #b0b0b0;
    margin-top:9px;
}
.THIS .rightCase{
    width:50%;
    float:right;
    display:inline-block;
    color:#5e6468;
    text-align:center;
    padding: 1.5% 0% 1% 0%;
    margin-top:9px;
}

.THIS .myCases {
    background-color:#56c9f2;
}
.THIS .pending {
    background-color:#6091e1;
}
.THIS .overdue {
    background-color:#a691ef;
}
.THIS .available {
    background-color:#00a3e2;
}
.THIS .titleCase {
    padding-left:10px;
    color:#fff;
    position: relative;
    top: 3px;
}
.THIS .Shape-Copy {
    width: 100%;
    height: 80px;
    border-top-right-radius:3px;
    border-top-left-radius:0px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:0px;
    background-color: #ffffff;
    /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}

.THIS .padding-all {
    
    padding:10px;
}

.THIS .dashCard {
     overflow: hidden; 
    
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .leadCard {
    
     height: 320px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .chartCard {
      
    height: 100%;
   
   /*height:40vh;*/
    border-radius: 2px;
    background-color: #ffffff;
     box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .detailCaseText {

    font-size: 35px;
    text-align: center;
    color: #00a3e2;
}

.THIS .profileImg{

    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
}

.THIS .greyFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #5e6468;
}

.THIS .greyFont1 
{
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #5e6468;

}

.THIS .greyFont2
{
    opacity: 0.9;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #272829;

}

.THIS .marginRight {
      margin-right:10px
     
}
.THIS .text-style-12 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: 1.46!important;
  letter-spacing: normal!important;
  text-align: left!important;
  color: slategray!important;
}

.THIS .leadImg {

        width:35px;
    height:35px;
    border-radius:50%;
    overflow:hidden;
}

.THIS .case-inq {
    font-size:16px;
    margin-right:5px;
    margin-top:-10px
}

/* Start PUX-358 */
.THIS .overDue3 {

    background-color:#ff0000;
    color:#fff;
    text-align:center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.THIS .overDue6 {

    background-color:#ff0000;
    color:#fff;
    text-align:center;

}

.THIS .overDue12 {
    background-color:#f47771;
    color:#fff;
    text-align:center;
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px
}

.THIS .overDue0hr {
    color:#b0b0b0;
    font-size:10px;
    position: relative;
    left: 10px
}
.THIS .overDue3hr {
   width:21%;
    text-align:right;
    color:#b0b0b0;
    font-size:10px;
}
.THIS .overDue6hr {
       width:21%;
    text-align:right;
    color:#b0b0b0;
    font-size:10px;
}

/* End PUX-358 */