/*
  Authors	   :   Rahul Pastagiya
  Date created :   22/09/2017
  Purpose      :   Stylesheet for component
  Dependencies :   None
  __________________________________________________________________________
  Modifications:
		    Date: 14-12-2017
			Changed By : Rahul Pastagiya
		    Purpose of modification:  PUX-504 - How many records on first page not mentioned
 */
.THIS .myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.THIS .qty {
    width: 40px;
    text-align: center;
    border-width: 1px;
}
.THIS .btnResize {
    padding-left: 8px;
    padding-right: 8px;
}
.THIS.btnResize {
    padding-left: 8px;
    padding-right: 8px;
}
.THIS .link {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
    cursor: pointer;
}
.THIS .totalPageNo {
    color: black;
}
.THIS .link:hover {
    border-bottom-color: green;
}
/*Start - PUX-504*/
.THIS.fontDec{
    font-family: 'Roboto',sans-serif;
    opacity: 1.5;
    font-size: 12px;
    text-align: left;
    color: #000000;
    font-weight: 500;
}
/*End - PUX-504*/