.THIS .hideFirstTab > div > div > ul >li:first-child{
    display: none;
    /*margin-top: 5px;*/
    
}
.THIS .hideFirstTab .slds-tabs__nav-scroller{
    display: none;
}
.THIS .slds-tabs--default__content {
    position: relative;
    padding: 0rem 0;
}
.THIS .slds-tabs--scoped__content{
        padding: 0rem;
}
.THIS .slds-tabs--scoped__link{
    border-radius: .0rem 0 0 0;
}
.THIS .hideFirstTab{
    /*padding-top: 5px;*/
}
.THIS .scroller{
    height:380px;
}
.THIS .slds-tabs--scoped__content{
    border: 0px solid rgb(217, 219, 221);
}