/*
 * Authors		: Parth Lukhi
 * Date created : 17/08/2017 
 * Purpose      :  Stlyle sheet used for CaseDetailView component
 * Dependencies :  NA
 * -------------------------------------------------
 *Modifications:
                Date:  
                Purpose of modification:  
                Method/Code segment modified: 

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .backgroundbody {
    background: #929292;
}
.THIS .classic .card {
    background: #5e6468;
}
.THIS .approvalSec {
    background:#f5f6fa!important;
}
.THIS .classic .slds-card__header {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #0773a8;
}
.THIS .classic .slds-icon-text-default {
    /* fill: white; */
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.THIS .classic {
    background-color: #ffffff;
}
.THIS.slds-tabs--default {
    background-color: #f5f6fa;
}
.THIS .slds-card {
    border: 0px!important;
}
.THIS .caseDetailContainer {
    background-color: #ffffff;
}
.THIS .case_slider_header {
    background-color: #5e6468;
    height: 35px;
}
.THIS .case-details-font {
    font-family: Roboto;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}
.THIS .detail-item-header {
    font-size: 17px;
    text-align: left;
    color: #5e6468;
    padding: 5px;
}
.THIS .detail-item {
    font-size: 12px;
    padding: 5px;
}
/*
.THIS .slds-form-element__label {
    display: none;
}
toggleCss.css*/

.THIS .toggleCaseDetail {
    display: none;
    
}
.THIS .toggleCaseDetail1 {
    display: block;
}
/*toggleCss.css*/

.THIS .toggleCase {
    display: none;
    
}
.THIS .layoutInter {
    padding-left: 10px;
    width: 100%;
    float: left;
}
.THIS .layoutCaseD {
    padding-left: 10px;
    width: 430px;
    float: left;
}
.THIS .left {
    float: left;
    width: 700px;
    text-align: right;
    margin: 2px 10px;
    display: inline;
}
.THIS .right {
    float: left;
    display: inline;
}
.THIS .slds-tabs--default__content {
    padding-top: 0px;
}
.THIS .leftBorder {    
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2)
}
.THIS .slds-card__header {} .THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
}
.THIS .slds-tabs--default__content {
    padding-top: 0;
    padding: 0rem 0;
}