/*
Name           : PLM.css
Author         : Parth Lukhi
Description    : Style sheet used for PLM App 
JIRA ID        : =
*/

.THIS .dropdown .slds-grow {
    width: 95%;
}
.THIS body {
    height: 100%;
    width: 100%;
    background: #f5f6fa;
}
.THIS .hover-pointer {
    cursor: pointer;
}
.THIS .hover-pointer-1:hover {
    cursor: pointer;
    border: 0.7px dotted black;
    background: #E3F2FD;
}
@font-face {
    font-family: 'customfontDisney';
    src: url(/resource/contextMenu/font/context-menu-icons.woff2);
    /* 
    'disneyFont' is the name of static resorces (.ttf) font file 
    */
}
.THIS .text-area-fixed {
    resize: none;
}
.THIS .padding-5 {
    padding: 5px;
}
.THIS .float-left {
    float: left;
}
.THIS .float-right {
    float: right;
}
.THIS .margin-all-10 {
    margin: 10px;
}
.THIS .margin-all-5 {
    margin: 5px;
}
.THIS .margin-left-5 {
    margin-left: 5px;
}
.THIS .margin-bottom-5 {
    margin-bottom: 5px;
}

.THIS .container2
{
    position:absolute;
    z-index:99999999;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    /*margin-left: 20%;
    margin-top: 10%;
    */
    background-color: #29e;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F0686B, endColorstr=#A52223);
    background-image: -moz-linear-gradient(top, #F0686B 13%, #A52223 100%);
    background-image: -webkit-linear-gradient(top, #29e 13%, #29e 100%);
    background-image: -ms-linear-gradient(top, #F0686B 13%, #A52223 100%);
    background-image: linear-gradient(top, #F0686B 13%, #A52223 100%);
    background-image: -o-linear-gradient(top, #F0686B 13%, #A52223 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(13%,#98d3ea), color-stop(100%,#29e));
    box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.73), inset 0px -6px 3px #0585b7, inset 0px 6px 3px #98d3ea;
    
    
}

/* Clearfix */
.THIS.frame:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Widths */

.THIS .bit-3  {
    position:absoulete;
    z-index:999999;
    width: auto;}

.THIS.frame {
    position:absolute;
    z-index:9999999;
    width: auto;
    margin: 0px auto;
}

.THIS .box {
    text-align: center;
    font: 1em "Helvetica Neue" Arial;
    background:transparent;
    color:#fff;
    padding: 15px 0px 15px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    cursor:default;
}

.THIS .cd-item-info {
    padding-left : 0px;
    padding-bottom : 0px;
    padding-right : 0px;
    
}

.THIS .iconGroup {
    padding-left: 65px;
}

.THIS .hide {
    display: none;
}
.THIS .nav {
    list-style: none;
    text-align: center;
}
.THIS .nav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}
.THIS .nav a {
    font-size: 2.2em;
    text-shadow: 1px 1px #fff;
    text-decoration:none;
    display: block;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, white); 
    background-image: -moz-linear-gradient(top, #f7f7f7, white); 
    background-image: -ms-linear-gradient(top, #f7f7f7,white); 
    background-image: -o-linear-gradient(top, #f7f7f7, white); 
    color: black;
    margin: 6px;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    line-height: 2.2em;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.THIS .nav a:hover{
    text-decoration: none;
    color: #555;
    background: #e7e7e7;
}
.THIS .nav a:active{
    text-shadow: 1px 0px 0px #e7e7e7;
    text-decoration: none;
    color: #FF7F24;
    background: #f7f7f7;
    box-shadow: 0px 1px 2px #aaa, inset 0px 2px 3px #fff;
}
.THIS .nav a:active i {
    position: relative;
    top: 1px;
}
.THIS .nav li:before {
    content:"";
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
}
.THIS .nav a:before {
    content:"";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -18px;
    left: -18px;
    bottom: -18px;
    right: -18px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}
.THIS .plmAssistIcon {
    color: white;
    padding-top: 45px;
    padding-left: 0px;
    cursor:pointer;
}

.THIS{
    font-family:'Salesforce Sans',Arial,sans-serif!important;
}