.THIS.slds-page-header {
    background-color: #5e6468;
    color: #fff;
    font-size: 20px;
    height: 23px;
    padding-bottom: 32px;
    padding-top: 6px;
}
.THIS .cMergeCaseView .trimDivContent {
    width:1396px;
}
.THIS.slds-text-heading--label {
    color: #fff !important;
}
.THIS.slds-text-heading_medium {
	margin-top:10px;
    font-size: 18px;
    font-weight: bold;
    color: #5e6468;
    padding-left: 23px;
}
.THIS .activeDiv {
    display:block;
}
.THIS .deactiveDiv {
    display:none;
}

.THIS.hideMe {
   	display:none;
}
.THIS .slds-card {
    background:#ffffff;
}
.THIS .trimDivContent{
    font-family: 'Roboto',sans-serif;
    font-size: 16px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .splitCaseDetails {
    width: 140.5px;
  	height: 15px;
	font-size: 13px;
	line-height: 1.25;
	text-align: left;
	color: #afb4b7;
	white-space: nowrap;
}
.THIS .slds-card__header {
    margin-bottom: 1.75rem;
}

.THIS .layer {
   width: 29.5px;
   height: 10px;
   font-size: 19px;
   font-weight: 600;
   text-align: left;
   color: #0773a8;
   padding-left: 45px;
}

.THIS .data-title:before {
   content: attr(data-menutitle);
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   background: #DDD;
   padding: 2px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

.THIS .data-title :first-child {
   margin-top: 20px;
 }
.THIS.comment{
   height:85px;
   width:96.5%;
   border:  solid 0.5px lightgray;
   background-color: #fff;
   margin-left: 24px;
   margin-right: 24px;
}
.THIS.slds-button {
    margin-left: 88%;
    margin-top: 11px;
    margin-bottom: 10px;
    border:solid 0.5px #00a3e2;
    padding-right: 11px;
    padding-left: 11px;
    border-radius:0px;
}
.THIS.slds-grid{
    box-shadow: 0px 1.5px 1px 0 rgba(0, 0, 0, 0.2);
}
.THIS body{
    background: rgb(244, 246, 249) !important;
}
.THIS.slds-float_left{
    margin-top:50px;
    margin-bottom:10px;
    margin-left:42%;
}