.THIS .slds-card {
    background:#ffffff;	
}
.THIS .splitCaseDetails {
    width: 140.5px;
  height: 15px;
  
  font-size: 14px;
  line-height: 1.25;
  text-align: left;
  color: #afb4b7;
  white-space: nowrap;
}
.THIS .slds-card__header {
    margin-bottom: 1.75rem;
}

.THIS .layer {
  width: 29.5px;
  height: 10px;
  font-size: 19px;
  font-weight: 600;
  text-align: left;
  color: #0773a8;
  padding-left: 0px;
}

.THIS .Number-of-Splits {
    width: 45.5px;
   float: right;
    font-family: Roboto;
    font-size: 12px;
    text-align: right;
    color: #595959;
}

.THIS .slds-input{
    width:100% !important;
}
.THIS.slds-float_left{
    margin-top:50px;
    margin-bottom:10px;
    margin-left:42%;
}
.THIS.slds-page-header {
    background-color: #5e6468 !important;
    color: #fff !important;
    font-size: 20px !important;
    margin-top: 35px !important;
    height: 2% !important;
    padding: 7px !important;
    padding-left: 10px !important;
}
.THIS .formInput{
    width: 14%;
    height: 10px;
    margin: 1%;
}
.THIS .formText{
    padding: 1%;
}
.THIS .lessView{
   color: red;
    padding-right: 10px;
    font-weight: bold;
}
.THIS .commentBox{
    padding: 13px;
}
.THIS.slds-button {
    margin-left: 88%;
    margin-top: 11px;
    margin-bottom: 10px;
    border:solid 0.5px #00a3e2;
    padding-right: 11px;
    padding-left: 11px;
    border-radius:0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.THIS .Shape-Copy {
    width: 100%;
    height: 80px;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
    
}
.THIS.leftBoder {
    margin: 8px 15px 8px 15px;
    border-left: 6px solid #4ebab8;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2)
}

.THIS .sldc-card_header-2 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0px;
    padding-bottom: 12px;
}

.THIS .Shape-Copy .Check_box_selected {
    width: 20px;
    height: 20px;
}
.THIS .Not-yet-received-my {
    font-family: 'Roboto', sans-serif;
    font-size: 16px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .Status-Ready-for-Pr .text-style-12 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px!important;
    font-weight: 500!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: 1.46!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .Status-Ready-for-Pr {
    font-weight: normal!important;
    color: #afb4b7!important;
}