.THIS .slds-card+.slds-card {
    margin-top: 0rem;
}
.THIS .hideHeader .slds-card__header {
    display: none !important;
}

.THIS .slds-form-element__label{
    font-family: 'Salesforce Sans', Arial, sans-serif ;
    font-size: 0.75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}
.THIS .sectionHeader {
    color: #5e5c5c;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    text-align: left;
}
.THIS .slds-form-element__help{
     margin-top: 0px !important;
}
.THIS .customInputFieldSection{
    min-height: 80px; 
    float: left; 
    padding-left: 1%; 
    padding-right: 1%; 

}