.THIS .insidelayer{
     width: 29.5px;
      height: 10px;
      font-size: 19px;
      font-weight: 600;
      text-align: left;
      color: #0773a8;
      
    padding-left: 186px;
    padding-top: 15px;
}
.THIS .slds-radio{
    padding-top: 18px;
    margin-left: 56px;
}