@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald);
.THIS .activeDiv {
    display:block;
}
.THIS .deactiveDiv {
    display:none;
}

.THIS .trimDivContent{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
}

.THIS .data-title:before {
        content: attr(data-menutitle);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: #DDD;
        padding: 2px;

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
.THIS .data-title :first-child {
        margin-top: 20px;
 }


/*PUX-331*/
.THIS time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 3.6em;
  height: 3.6em;
  background-color: #fff;
 /* margin: 2em auto;*/
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

.THIS time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.THIS time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.1em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

.THIS time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

.THIS time.icon span
{
  width: 100%;
  font-size: 1.5em;
  letter-spacing: -0.05em;
  padding-top: 1.15em;
  color: #2f2f2f;
}

.THIS time.icon:hover, 
.THIS time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
/*PUX-331*/