<!--
     Authors       :  Atul Hinge
     Date created :  17/10/2017
     Purpose      :  Use to display PDF file in attachment viewer.
     Dependencies :  AttachmentViewer.cmp,Email.cmp(Aura component)
     JIRA ID      :  PUX-116,PUX-30,PUX-27,PUX-116,PUX-130,PUX-172,PUX-272,PUX-293,PUX-313,PUX-313,PUX-363      
     ===========
     Modifications: 1
            Date:  
            Purpose of modification:  
            Method/Code segment modified:  
-->

<apex:page showHeader="false" sidebar="false"  lightningStylesheets="true" >
    <script src="../../soap/ajax/41.0/connection.js" type="text/javascript"></script>
    <script></script>
    <apex:slds />
    <div class="slds-scope">
        <div id="loading" style="display:none;">
            <div class="demo-only" style="height: 6rem;">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
        <iframe id="myFrame" src=""  height="445" style="border: 1px solid;width:100%" scrolling="yes" frameborder="0" />
    </div>
    <script>
    var fileId="{!$CurrentPage.parameters.fileId}";
    sforce.connection.sessionId = "{!$Api.Session_ID}";
     /* Authors: Atul Hinge || Purpose: select file object   */
    function getFile() {
        document.getElementById('loading').style.display = '';
        var content =  sforce.connection.query("SELECT id,VersionData,FileExtension  FROM ContentVersion where Id ='"+fileId+"'").getArray("records")[0];
        var extension =content.FileExtension;
        var contentType='application/pdf';
        if(extension=='pdf'){
            contentType='application/pdf';
        }else if(extension=='jpg' || extension=='png' || extension=='gif' || extension=='jpg'){
            contentType='image/'+extension;
        }else if(extension=='html'){
            contentType='text/'+extension;
        }
        var fileURL = URL.createObjectURL(b64toBlob(content.VersionData,contentType));
        
        document.getElementById("myFrame").src = fileURL;
        document.getElementById('loading').style.display = 'none';
    }
    getFile();
     /* Authors: Atul Hinge || Purpose: convert b64 to blob data  */
    function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || '';
        sliceSize = sliceSize || 512;
        var byteCharacters = atob(b64Data);
        var byteArrays = [];
        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);
            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }
            var byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }
        var blob = new Blob(byteArrays, {type: contentType});
        return blob;
    }
    </script>
</apex:page>