.THIS.header-cust {
    background-color: #ffffff;
    /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
    padding-bottom: 5px;
    padding-top: 5px;
    /*border-top-width: 5px;*/
    
}
.THIS .left-header{
    float: left;    
    
}
.THIS .right-header{
    float: right;    
    
}
.THIS .icon-header{
    /*margin: 10px;    
    margin-top:13px;   
    width: 17px;
    height: 17px;*/
    cursor:pointer;
    
}
.THIS .icon-header1{
    margin: 10px;    
    margin-top:1px; 
    cursor:pointer;
}
.THIS .hedder_bg {
    width: 1070px;
    height: 41px;
    background-color: #00a3e2;
}


.THIS .iconDiv{
    display: inline;margin-left: 8px;margin-right: 1px;
}
.THIS .padding-all{
    padding:10px;
}

.THIS .numberCircle {
    transform: translate(-44%,-63%);;
    border-radius: 50%;
    width: 16px;
    height: 17px;
    background: #fff;
    color: #ffffff;
    text-align: center;
    background-color: #f47771;
    font-size:smaller;
}